@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@inject UserManager<ApplicationUser> UserManager

@{
    var currentUser = UserManager.GetUserAsync(User).Result;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETAWarrantLookup</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css" />
    @RenderSection("Styles", required:false)
</head>
<body style="background: #c8d2bc url('/images/bg1.png');">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ETA Warrant Lookup Application</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (currentUser != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/Warrant/Search">Warrant Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/Account/Logout">Logout</a>
                            </li>
                            <li class="nav-item">
                                <label class="nav-link text-dark"> Subscription Expires: @Context.Session.GetString("subscriptionExpires")</label>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/Account/Login">Login</a>
                            </li>
                        }                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-sm">
                    <img src="~/images/banner.jpg" class="img-fluid" alt="company logo" style="border-radius:15px;" />
                </div>
            </div>
            @RenderBody()
        </main>
        <div class="card">
            <div class="card-body text-muted" style="background:#e3e9dc;">
                <div class="row">
                    <div class="col-sm">
                        © Copyright 2022, ETA Data Direct Inc.
                    </div>
                    <div class="col-sm">
                        *Note: Session will time out if no activity is detected for 60 minutes.
                    </div>
                    <div class="col-sm">
                        E-mail questions to: <a href="mailto:eddie.ambrose@etadatadirect.com">eddie.ambrose@etadatadirect.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
